

body{
    background-attachment: fixed;
    width: 60%;
    background-image: url(../img/logo.png);
    background-position: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    color: black;
    
}
div{
    width: 60%;
}
div>h1{
    color: tomato;
 
}
div>h2{
    color: dodgerblue;
    text-align: center;
}

