.avarta{
    border: 10px solid white;
    width: 200px;
    height: 200px;
    transform: translate(100px,-140px);

}
.cover{
    background-image: url(../img/cover.jpg);
    height: 300px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1{
    margin-left: 350px;
    color: white;
    padding-top: 200px;
}
